* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.nav-menu {
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
    color: #ffffff;
}

nav {
    background-color: #000000;
    padding: 1rem;
}

